<div class="wrapper"> <!-- Este es el banner de la página, aparece en la parte superior de la página-->

    <div *ngIf="!loading" class="body"> <!-- Esta clase encapsula todo el contenido dentro del banner -->

      <img class="logo" src="../../../assets/img/Login.png" alt="Login">
        <h1>FroggyWeb</h1> <br>
        <h3> Registrarse </h3>

        <form (ngSubmit)="registrar()" [formGroup]="register">
            <!-- Campo para ingresar el nombre de usuario/correo-->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName= "email" placeholder="name@example.com">
                <label>Email </label>

                <span  *ngIf="register.get('email')?.hasError('required') && register.get('email')?.touched" class="text-danger errorLabel">
                  * El <strong>correo</strong> es requerido.
                </span>
                <span  *ngIf="register.get('email')?.hasError('email') && register.get('email')?.touched" class="text-danger errorLabel">
                  * El email <strong>no</strong> es valido.
                </span>
                
            </div>

            <!-- Campo para ingresar la contraseña"-->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <label>Password</label>
                <span  *ngIf="register.get('password')?.hasError('required') && register.get('password')?.touched" class="text-danger errorLabel">
                  * La contraseña es requerida.
                </span>

                <span  *ngIf="register.get('password')?.hasError('minlenght') && register.get('password')?.touched" class="text-danger errorLabel">
                  * La password debe tener <strong>más</strong> de 6 caracteres.
                </span>

            </div>

            <!-- Campo para repetir la contraseña-->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="repeatPassword"placeholder="Password">
                <label>Repeat Password</label>
            </div>

            <!-- Botón de "Aceptar"-->
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" [disabled]="register.invalid" type="submit">Aceptar</button>
              </div>

              <a routerLink="/login">Volver</a>

            </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
