<div class="wrapper"> <!-- Este es el banner de la página, aparece en la parte superior de la página-->
    <div class="body"> <!-- Esta clase encapsula todo el contenido dentro del banner -->
        <img class="logo" src="../../../assets/img/Login.png" alt="Login">
        <h1>FroggyWeb</h1> <br>
        <h3> Registro</h3>

        <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario"> 
            <!-- Campo para ingresar el nombre de usuario/correo-->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Email</label>
            </div>

            <!-- Campo para ingresar la contraseña"-->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <label>Password</label>
            </div> 

            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="repetirPassword" placeholder="Repeat Password">
                <label>Repeat Password</label>
            </div> 

            <!-- Botón de "Ingresar"-->
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit">Registrarse</button>
              </div> 
              <p class="mt-3"> ¿Ya tienes cuenta? <a routerLink="/login">Log In</a> </p> 
        </form>
    </div>
</div>
