<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FroggyApps</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/catalogo">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logad" >admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let laptop of articulos">
          <div class="card shadow-sm">
            <img src="" alt="">
            <div class="card-body">
              <img class= "img-catalogo" src="{{laptop.img}}" width="100px" alt="" srcset="">
              <h5 class="card-title">{{laptop.modelo}}</h5>
              <p class="card-text">{{laptop.componentes}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="" class="btn btn-primary">Detalles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</main>
