<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FroggyApps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/catalogo">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logad" >Admin-Access</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="contairner mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Login Consola Administrador </h3>
                    <form class="mt-4">
                        <input #identificador type="password" class="form-control form-control-lg mb-4" placeholder="Contraseña">
                        <div class="mt-2">
                            <button type="text" class="btn btn-secondary btn-lg" routerLink="/list-articulos">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg" (click)="getInputValue(identificador.value)">Iniciar</button>
                            
                        </div>    
                    </form>
                
                </div> 
            </div>
        </div>
    </div>
</div>

