<app-nbar></app-nbar>
<div class="contairner mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Crear Nuevo Articulo</h3>
                    <div *ngIf="submitted && createArticulo.invalid" class="alert alert-danger">Todos los campos son obligatorios</div>
                    <form class="mt-4" [formGroup]="createArticulo" (ngSubmit)="agregarArt()">
                        <input type="text" class="form-control form-control-lg mb-4" placeholder="Modelo" formControlName="modelo">
                        <input type="text" class="form-control form-control-lg mb-4" placeholder="Componentes" formControlName="componentes">
                        <input type="text" class="form-control form-control-lg mb-4" placeholder="Descripcion" formControlName="descripcion">
                        <input type="text" class="form-control form-control-lg mb-4" placeholder="Pagina de compra" formControlName="pagCompra">
                        <input type="text" class="form-control form-control-lg mb-4" placeholder="URL de imagen" formControlName="img">
                        <div class="mt-2">
                            <button type="text" class="btn btn-secondary btn-lg" routerLink="/list-articulos">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                        </div>    
                    </form>
                
                </div> 
            </div>
        </div>
    </div>
</div>
